/* Assessment.css */

.Assessment {
    background-color: white;
    padding: 30px;
    border: 40px solid #3d5c82;
    margin-top: 4.1%; /* Adjust the margin as needed to create space between the text and the white box */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center questions vertically */
    text-align: center;
    
  }
  
  .popup {
    display: none; /* Initially hide the pop-up */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    
  }
  
  .popup-content {
    background-color: #fff;
    color: #000; /* Set text color to black */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 24px; /* Make the text much bigger */
  }
  
  button.question-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 50px 50px; /* Increase padding to make the button larger */
    border-radius: 45px;
    cursor: pointer;
    margin:10%; /* Add margin to create space between buttons */
    transform: rotate(-45deg); /* Rotate the buttons diagonally */
    font-size: 24px; /* Make the text much bigger */
    
  }
  
  button.question-button:hover {
    background-color: #0056b3;
  }
.big-text {
    margin-top: 2%; /* Adjust the margin as needed to create space between the text and the white box */
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 45px; /* Adjust the font size as needed */
    font-weight: bold; /* Add or remove this property to control text weight */
  }

  .canvas-questions{
    margin-top: 20px;
    width: 100%;
    padding-left: 20%;
    padding-right: 50px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0px; /* Adjust the margin as needed */
  }

  .create-tutorial-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0px 30px; /* Increase padding to make the button larger */
    border-radius: 90px;
    cursor: pointer;
    margin: 0px; /* Add margin to create space between buttons */
    /*transform: rotate(-45deg); /* Rotate the buttons diagonally */
    font-size: 24px; /* Make the text much bigger */
  }
  .create-tutorial-button:hover {
    background-color: #0056b3;
  }
  .tutorialPopUp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    place-items: center;
  }
  .tutorialPopUp::after{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .tutorial-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 50%;
    width: 50%;
    background-color: #fff;
  }
  
  .tut-image{
    height: 350px;
    width: 100%;
    background-size: cover;
  }

  .previous-button {
    background-color: rgb(80, 200, 120);
    color: #fff;
    border: none;
    padding: 0px 30px; /* Increase padding to make the button larger */
    border-radius: 90px;
    cursor: pointer;
    margin: 0px; /* Add margin to create space between buttons */
    /*transform: rotate(-45deg); /* Rotate the buttons diagonally */
    font-size: 15px; /* Make the text much bigger */
    justify-self: start;
    flex-basis: 0;
  }
  
  .next-button {
    background-color: rgb(80, 200, 120);
    color: #fff;
    border: none;
    padding: 0px 30px; /* Increase padding to make the button larger */
    border-radius: 90px;
    cursor: pointer;
    margin: 0px; /* Add margin to create space between buttons */
    /*transform: rotate(-45deg); /* Rotate the buttons diagonally */
    font-size: 15px; /* Make the text much bigger */
    justify-self: flex-end;
    flex-basis: 0;
  }
  
  .bottom-container {
    background-color: rgb(229, 228, 226);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .close-tutorialButton {
    background-color: rgb(80, 200, 120);
    color: #fff;
    border: none;
    padding: 0px 30px; /* Increase padding to make the button larger */
    border-radius: 90px;
    cursor: pointer;
    margin: 0px; /* Add margin to create space between buttons */
    /*transform: rotate(-45deg); /* Rotate the buttons diagonally */
    font-size: 15px; /* Make the text much bigger */
    justify-self: flex-end;
  }
  
  .top-container {
    background-color: rgb(229, 228, 226);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  
  